<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    $if(description)$<meta name="description" content="$description$">$endif$
    <meta name="robots" content="index, follow">
    $if(canonical_url)$<link rel="canonical" href="$canonical_url$">$endif$
    <title>$title$</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <script>
        MathJax = {
            loader: {load: ['[tex]/textmacros']},
            tex: {packages: {'[+]': ['textmacros']}}
        };
    </script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

</head>
<body>
    <header>
        <nav>
            <a href="../index.html"$if(is_home)$ class="current"$endif$>Home</a>
            <a href="../notes.html"$if(is_notes)$ class="current"$endif$>Notes</a>
        </nav>
    </header>
    <main>
      <h1>$title$</h1>
      $if(date)$<p class="post-date">$date$</p>$endif$
      
      $if(toc)$
      <input type="checkbox" id="toc-toggle" class="toc-toggle">
      <label for="toc-toggle">
        <nav id="TOC">
          $toc$
        </nav>
      </label>
      $endif$
      
      $body$
    </main>
</body>
</html>
